body {
  line-height: 1;
  background-color: #E0B369;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  font-family: 'Redressed', cursive;
  color: black;
  text-align: center;
  background: url(../media/relax.jpg);
  background-position: center;
  border-radius: 0;
  border-bottom: 5px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  background-color: #E0B369;
}

.hour {
  font-family: 'Anton', sans-serif;
  background-color: #E0B369;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  font-family: 'Anton', sans-serif;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}